build --java_language_version=21
build --java_runtime_version=21
test --test_output=errors

build --build_tag_filters=-skip

common:ci --lockfile_mode=error
build:ci --repository_cache=/tmp/bazel-repository-cache
build:ci --disk_cache=/tmp/bazel-disk-cache
test:ci --test_output=errors
