* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body, html {
    font-family: "Fira Code", sans-serif;
    background-color: #E9DFD3;
    color: #FFFFFF;
    scroll-snap-type: y mandatory;
}

body {
    background-image: url("https://cdn0.hitched.co.uk/article/3270/original/1280/jpg/40723-beach-destination-weddings-grand-cayman-ritz-carlton-d55549b.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    min-height: 100vh;
    min-width: 100vw;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(5px);
    width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    font-weight: 100;
    font-size: 5rem;
}

.kate:hover:after {
    content: " ((the cute one))";
}
.amrik:hover:after {
    content: " ((the 🤓 one))";
}

a, a:focus {
    color: inherit;
    text-decoration: underline dotted white 0.4rem;
}
a:active, a:hover {
    text-decoration: underline solid white 0.4rem;
    text-underline-offset: 0.4rem;
}

.container > fieldset{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    height: 80%;
}

legend {
    font-size: 8rem;
}

.container > fieldset > * {
    margin: 0.3rem;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

