.countdown {
  display: flexbox;
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 20%);
  border-radius: 1rem;
}

.countdown h3 {
  font-size: 1.5rem;
}

.countdown ul {
    list-style-type: none;
    overflow: hidden;
}

.countdown li {
    float: left;
    padding: 1rem;
}

