table {
    width: 100%;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .purchase-order-label {
    font-weight: 900;
    font-size: x-large;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}   

.heading {
    display: flex;
    padding-bottom: 2rem;
    flex-direction: row;
    column-gap: 1rem;
}

.heading > .heading-left {
    flex: 1 1 60vw;
    
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading > .heading-left .logo {
    max-width:7rem;
    max-height:7rem;
    width: auto;
    height: auto;
}   

.heading > .heading-right {
    flex: 1 1 40vw;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}


#output table {
    width: 100%;
    border-collapse: collapse;
}

#output table td, #output table th {
    border: 1px solid #000;
}

#output table th {
    background-color: lightgray;
}

.contact {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.sign-container {
    display: flex;
    width: 40vw;
}
.sign-text {
    font-size: 16px;
    margin-right: 10px;
}
.dotted-line {
    border-bottom: 1px dotted black;
    width: 60vw;
    flex: 1;
}


@media print {
    .hidden-print {
        display: none !important;
    }
    .new-page {
        page-break-after: always;
    }
}
