* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html, body {
    padding: 0;
    margin: 0;
    background-image: url('../../../public/image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100%;
}

