.accordion {
    width: 80vw;
    margin: 2rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.content {
    padding-top: 1rem;
}
