.accordion {
    min-width: 60vw;
    max-width: 80vw;
    margin: 2rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    backdrop-filter: blur(20px);
}
.title:hover {
}

.content {
    padding-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
