.section {
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(5px);

    min-height: 100vh;
    min-width: 100wh;

}

.section > .container {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(5px);
    width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: scroll;
}

.rsvpform {
    border: none;
}

