.section {
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255, 0%);
    min-height: 100vh;
    min-width: 100wh;

}

.section > .container {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: scroll;
}

.section > .container > div {
    padding-inline: 1rem;
}

/* Start Section */
.start .container div {
    display: flex;
    flex-direction: column;
    text-shadow: 0.1rem 0.1rem #C2B280;
    align-items: center;
}

/*Kate & Amrik*/
.start .container h1 {
  font-family: "Great Vibes";
  font-size: 7rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem #C2B280;
  font-style: normal;
}
@media only screen and (max-width: 800px) {
    .start .container h1 {
      font-size: 3rem;
    }
}

.start .container h2 {
  font-size: 2rem;
  font-weight: 100;
  font-style: normal;
}

/* RSVP Section  */
.rsvp > .container {
    width: 95vw;
    height: 95vh;
}

.rsvpform {
    border: none;
}


.kate .container h2 {
    animation: marquee 30s linear infinite;
}
.kate .container img {
    max-width: 80%;
}

@keyframes marquee {
    0%   { transform: translate(0%, 0); }
    25%   { transform: translate(80%, 0); }
    50%   { transform: translate(0%, 0); }
    75%   { transform: translate(-80%, 0); }
    100%   { transform: translate(0%, 0); }
}

